@import '~@angular/material/theming';

// Include non-theme styles for core.
@include mat-core();

// Define your application's custom theme.
$secondary: mat-palette($mat-grey, 200);

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 9999;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.mat-nav-list a.active {
  background: mat-color($secondary);
}
